<div id="explore-trails">

  <mat-card class="nature-location-card" *ngFor="let item of productsList">
    <mat-card-header>
      <mat-card-title>{{item.title}}</mat-card-title>
      <mat-card-subtitle>{{item.owner.name}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>{{item.description}}</p>
      <span>Renting Time: <b>{{item.days}} day(s)</b></span><br>
      <span>Price: <b>{{item.rent_price}} {{item.currency}}</b></span>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-raised-button color="primary">BOOK</button>
    </mat-card-actions>
  </mat-card>

</div>
