
#chats .example-full-width {
  width: 100%;
}

#chats  .senders-message {
  background-color: #e5e5e5;
}

#chats  .name-class {
  color: #108a85;
}

#chats .send-a-message {
  bottom: 0px;
  position: fixed;
  margin-bottom: 40px;
  width: 97%;
  margin-left: -16px;
}
#chats .senders-message .user-avatar-image {
  float: left;
}

#chats  .my-message .user-avatar-image {
  float: right;
}

#chats  .my-message {
  margin-bottom: 10px;
}

#chats  .senders-message{
  margin-bottom: 10px;
}

#chats  .mat-card {

  border-radius: 8px !important;
}

#chats  .mat-card-header .mat-card-title {
  font-size: 13px;
}

.chat-div {
  list-style: none;
  background: none;
  margin: 0;
  padding: 0 0 0 0;
  position: absolute;
  top:60px;
  height: 77%;
  width: 90%;
  overflow-y: scroll;
  padding-right: 17px;
}

.channel-name {
  font-weight: bold;
  text-transform: capitalize;
  font-size: larger;
  color: #878787;
}

.channel {
  text-align: center;
}