<div id="chats">
  <div class="channel">
    <label class="channel-name">{{channel}}</label>
  </div>
  <div class="chat-div" #scrollMe [scrollTop]="scrollMe.scrollHeight">
      <mat-card class="{{msg.user === 1 ? 'senders-message' : 'my-message'}}" style="border-radius: 15px !important;" *ngFor="let msg of chatMsgList">
        <mat-card-subtitle class="user-avatar-image name-class" mat-card-avatar>{{msg.user === 1 ? 'PIPPO' : 'ME'}}</mat-card-subtitle>
        <mat-card-header>
          <mat-card-title>{{msg.prompt}}</mat-card-title>
        </mat-card-header>
      </mat-card>
  </div>

  <form style="bottom: 0" class="send-a-message">
    <mat-form-field style="padding: 10px;width: 95%;margin-bottom: 20px;" class="example-full-width">
      <input [(ngModel)]="message" type="text" matInput placeholder="Type a new message" [ngModelOptions]="{standalone: true}" (keyup.enter)="sendMessage()">
      <mat-icon matSuffix (click)="sendMessage()">send</mat-icon>
    </mat-form-field>
  </form>
</div>

