<div id="nature-location">
  <h3 class="name">{{placeName}}</h3>
  <p class="nature-location-loc"><mat-icon>location_on</mat-icon>Helsinki, Finland</p>
  <p class="title-desc">Pipponal Park</p>

  <mat-divider></mat-divider>

  <mat-form-field class="pick-date">
    <input [(ngModel)]="locationModel.date" [matDatepicker]="myDatepickerValidFrom" matInput name="startDate" placeholder="Date">
    <mat-datepicker-toggle [for]="myDatepickerValidFrom" matSuffix></mat-datepicker-toggle>
    <mat-datepicker #myDatepickerValidFrom touchUi></mat-datepicker>
  </mat-form-field>

  <div class="time-pickers">
    <mat-form-field class="pick-start-time">
      <input [(ngModel)]="locationModel.startTime" [ngxTimepicker]="picker" matInput name="beginTime" placeholder="Start time">
      <ngx-material-timepicker #picker></ngx-material-timepicker>
    </mat-form-field>

    <mat-form-field class="pick-end-time">
      <input [(ngModel)]="locationModel.endTime" [ngxTimepicker]="pickerTo" matInput name="endTime" placeholder="End time">
      <ngx-material-timepicker #pickerTo></ngx-material-timepicker>
    </mat-form-field>
  </div>

  <mat-divider style="margin-top:70px;"></mat-divider>

  <p>Select the locations you want to visit:</p>
  <div *ngIf="locationPoints.length!==0">
  <div *ngFor="let locationPoint of locationPoints; let i = index">
  <div style="margin-top: 20px; display: table; width: 100%;" >
        <mat-checkbox [(ngModel)]="locationPoint['checked']"></mat-checkbox>
    <mat-card class="location-point-card" (click)="openLocationPointDetails(locationPoint.name)">
      <mat-card-header>
        <mat-card-title>{{locationPoint.name}}</mat-card-title>
        <mat-card-subtitle>Hiking Trail</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content class="location-point-loc-wrapper">
        <p class="location-point-loc"><mat-icon>access_time</mat-icon>4h</p>
      </mat-card-content>
    </mat-card>
    </div>
  </div>
  </div>

  <div style="margin-top: 20px; display: table; width: 100%;" *ngIf="locationPoints.length===0">
    <mat-card class="location-point-card">
      <mat-card-header>
        <mat-card-title>Sorry, no hiking trails available.</mat-card-title>

      </mat-card-header>

    </mat-card>
  </div>

  <div style="text-align: center; margin-top: 30px; margin-bottom: 15px;">
    <mat-slide-toggle>I want to find a Travel Buddy!</mat-slide-toggle>
  </div>

  <button mat-flat-button color="primary">Generate route</button>
  <button mat-flat-button color="primary" type="submit" (click)="onSubmit()" style="margin-right: 10px;">Save</button>

</div>
