<footer class="footer">
  <mat-toolbar color="primary" style="justify-content: center">
      <div (click)="openFindTrail()" class="footer-button-container selected">
      <button
        type="button"

        mat-icon-button>
        <mat-icon class="white">search</mat-icon>
      </button>
      <p class="footer-button-desc">Explore</p>
    </div>
    <div class="footer-button-container">
      <button
        type="button"
        (click)="openMyPlans()"
        mat-icon-button>
        <mat-icon class="white">directions_walk</mat-icon>
      </button>
      <p class="footer-button-desc">My Trips</p>
    </div>
    <div class="footer-button-container">
      <button
        type="button"
        (click)="openSuggestions()"
        mat-icon-button>
        <mat-icon class="white">terrain </mat-icon>
      </button>
      <p class="footer-button-desc">Suggestions</p>
    </div>
    <div class="footer-button-container">
      <button
        type="button"
        (click)="openChats()"
        mat-icon-button>
        <mat-icon class="white">people</mat-icon>
      </button>
      <p class="footer-button-desc">Travel Buddy</p>
    </div>


  </mat-toolbar>
</footer>
