<div id="#myTrips">
  <p>Your previously visited locations:</p>
  <mat-card class="location-point-card" (click)="openLocationPointDetails()">
    <mat-card-header>
      <mat-card-title>Korpinkierros</mat-card-title>
      <mat-card-subtitle>Hiking Trail</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="location-point-loc-wrapper">
      <p class="location-point-loc"><mat-icon>access_time</mat-icon>4h</p>
      <p class="nature-location-loc"><mat-icon>location_on</mat-icon>Nuuksio Pipponal Park</p>
    </mat-card-content>
  </mat-card>

  <mat-card class="location-point-card">
    <mat-card-header>
      <mat-card-title>Takala</mat-card-title>
      <mat-card-subtitle>Hiking Trail</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="location-point-loc-wrapper">
      <p class="location-point-loc"><mat-icon>access_time</mat-icon>25min</p>
      <p class="nature-location-loc"><mat-icon>location_on</mat-icon>Nuuksio Pipponal Park</p>
    </mat-card-content>
  </mat-card>

  <mat-card class="location-point-card">
    <mat-card-header>
      <mat-card-title>Vareslaenkierros</mat-card-title>
      <mat-card-subtitle>Trekking Trail</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="location-point-loc-wrapper">
      <p class="location-point-loc"><mat-icon>access_time</mat-icon>6h</p>
      <p class="nature-location-loc"><mat-icon>location_on</mat-icon>Pallas-Yllästunturi Pipponal Park</p>
    </mat-card-content>
  </mat-card>
</div>
