<h3>{{trailName}}</h3>

<div class="nature-location-loc-wrapper">
  <p class="nature-location-loc"><mat-icon>location_on</mat-icon>{{placeName}}</p>
</div>

<br>

<mat-form-field class="select-range">
  <mat-label>Select a filter type</mat-label>
  <select matNativeControl required>
    <option value="hourly">Hourly</option>
    <option value="daily">Daily</option>
    <option value="monthly">Monthly</option>
  </select>
</mat-form-field>

<mat-card class="example-card">
  <mat-card-content>
    <div #charts></div>
  </mat-card-content>
</mat-card>

<div [innerHTML]="locationPoint.pointInfo"></div>

