#sign-up .mat-card {
  box-shadow: none;
  text-align: center;
  padding: 70px 0;
}

#sign-up  .mat-card-header-text {
  margin: 0 auto !important;
}

::ng-deep #sign-up .mat-card-header-text {
  width: 100%;
}
#sign-up .mat-raised-button {
  background-color: #48bdb8;
  color: white;
  width: 100%;
  margin-top: 10px;
}

#sign-up img {
  margin-bottom: 30px;
}

#sign-up  .mat-form-field {
  display: block !important;
}

#sign-up mat-card-content {
  padding-right: 50px;
  padding-left: 50px;
}

#sign-up  mat-hint {
  color: red !important;
  font-size: small !important;
}

#sign-up  mat-hint.success {
  color: darkgreen !important;
  font-size: small !important;
}
