#layout .all-wrap {
  min-height: 100vh; // same height as browser window height
}

#layout .page-wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh; // same height as browser window height
}

#layout .navbar-width {
  width: 80%;
}

#layout .user-avatar-image {
  background-image: url('../../assets/logo/pippo-icon.jpg');
  background-size: cover;
  border: 1px solid #48bdb8;
}

#layout  .mat-card-header-text {
  margin-right: 0px !important;
}

#layout  .mat-card {

  border-radius: 0px !important;
}

#layout  .mat-card-title, #layout  .mat-card-subtitle {

}

/*
 * Make the component injected by <router-outlet> full height:
 */

main {

  display: flex;
  flex-direction: column;
  padding: 20px;

  // Select all direct descendants only of the <main> element
  // that are not <router-outlet> elements:
  > *:not(router-outlet) {

    flex: 1; // child will set to an equal size inside the container
    display: block;

  }

}

.content{
  top: 56px;
  bottom: 56px;
  overflow:auto;
  flex: 1;
}

 app-find-job.ng-star-inserted {
  height: 100%;
}
