<div id="#myTrips">
  <p><b>Your active bookings:</b></p>
  <mat-card class="location-point-card">
    <mat-card-header>
      <mat-card-title>VR Headset</mat-card-title>
      <mat-card-subtitle>Rental time: 1d</mat-card-subtitle>
      <mat-card-subtitle>Price: 10 euros</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="location-point-loc-wrapper">
      <p class="location-point-loc"><mat-icon>access_time</mat-icon>1d 3h</p>
      <p class="nature-location-loc"><mat-icon>location_on</mat-icon>Radiokatu 10 C 23</p>
    </mat-card-content>
  </mat-card>

  <p><b>Your previous bookings:</b></p>
  <mat-card class="location-point-card">
    <mat-card-header>
      <mat-card-title>PS5</mat-card-title>
      <mat-card-subtitle>Rental time: 2d</mat-card-subtitle>
      <mat-card-subtitle>Price: 20 euros</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="location-point-loc-wrapper">
      <p class="nature-location-loc"><mat-icon>location_on</mat-icon>Otakaari 24, Espoo</p>
    </mat-card-content>
  </mat-card>
</div>
