<footer class="footer">
  <mat-toolbar color="primary" style="justify-content: center">
      <div (click)="openFindTrail()" class="footer-button-container selected">
      <button
        type="button"

        mat-icon-button>
        <mat-icon class="white">search</mat-icon>
      </button>
      <p class="footer-button-desc">Activities</p>
    </div>
    <div class="footer-button-container">
      <button
        type="button"
        (click)="openChats()"
        mat-icon-button>
        <mat-icon class="white">chat</mat-icon>
      </button>
      <p class="footer-button-desc">Pippo Buddy</p>
    </div>
    <div class="footer-button-container">
      <button
        type="button"
        (click)="openMyPlans()"
        mat-icon-button>
        <mat-icon class="white">reorder</mat-icon>
      </button>
      <p class="footer-button-desc">My Rentals</p>
    </div>
    <div class="footer-button-container">
      <button
        type="button"
        (click)="openProfile()"
        mat-icon-button>
        <mat-icon class="white">person</mat-icon>
      </button>
      <p class="footer-button-desc">Profile</p>
    </div>

  </mat-toolbar>
</footer>
