.select-region{
  width: 100%;
}

.search-field{
  width: 85%;
}

.search-btn{
  background-color: #48bdb8;
  float: right;
}

.search-btn mat-icon{
  color: white;
}

#select-region{
  background-color: #48bdb8;
  color: white;
}

#select-region option{
  background-color: white;
  color: black;
}

.nature-location-loc > mat-icon{
  font-size: 15px;
  height: 20px;
  width: 20px;
}

.nature-location-loc-wrapper{
  float: right;
  margin-top: -15px;
}

.nature-location-card{
  margin-bottom: 10px;
}

div.divider{
  margin-bottom: 10px;
}

#nature-location .name{
  margin-bottom: 5px;
  display: inline;
}

#nature-location p.nature-location-loc{
  margin-top: 8px;
  font-size: 12px;
  float: right;
}

#nature-location .title-desc{
  margin-top: 5px;
  font-size: 14px;
}

.nature-location-loc{
  color: #48bdb8;
}

.pick-date{
  width: 40%;
}

.time-pickers{
  width: 55%;
  float: right;
}

.location-point-loc > mat-icon{
  font-size: 15px;
  height: 20px;
  width: 20px;
}

.location-point-loc{
  color: #48bdb8;
}

.location-point-loc-wrapper{
  float: right;
  margin-top: -30px;
}

.location-point-card{
  width: 240px;
  float: right;
  padding-bottom: 0px;
}

mat-checkbox  .mat-checkbox-inner-container{
  height: 25px;
  width: 25px;
}

#nature-location  .mat-checkbox-checked.mat-accent .mat-checkbox-background{
  background-color: #48bdb8;
}

#nature-location mat-checkbox{
  vertical-align:middle;
  display: table-cell;
}
#nature-location .mat-card-header .mat-card-title{
  font-size: 16px;
}

#nature-location  .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb{
  background-color: #48bdb8;
}

#nature-location  .mat-slide-toggle.mat-checked .mat-slide-toggle-bar{
  background-color: #48bdb875;
}

#nature-location button{
  float: right;
  background: #48bdb8;
  color: white;
}
